{%	extends	"base.html"	%}
{% load i18n %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/login.css' %}">
{% endblock css %}
{%	block	title	%}
<title>
	{% trans "Logged Out" %}
</title>{%	endblock	%}
{%	block	content	%}
<div class="container">
  <div class="text-center mb-4">
    <img class="mb-4" src="{% static 'accounts/Logo_sonelgaz.png' %}" alt="" width="72" height="72">
  </div>
<div class="alert alert-success alertMessage" role="alert">
  <h4 class="alert-heading">{% trans "Logged out successfully" %}</h4>
  <p>{% trans "Your	have successfully Logged Out." %}</p>
  <hr>
  <a	 href="{% url 'accounts:login' %}" class="alert-link">{% trans "Login Again" %} </a>
</div>
</div>
{%	endblock	%}
