{%	extends	"base.html"	%}
{% load i18n %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/login.css' %}">
{% endblock css %}
{% block title %}
<title>{% trans "confrim password reseting" %}</title>
{% endblock title %}

{%	block	content	%}

	<div class="container">


		{%	if	validlink	%}
    <form		method="POST" class="form-signin">{% csrf_token %}
			<div class="text-center mb-4">
				<img class="mb-4" src="{% static 'accounts/Logo_sonelgaz.png' %}" alt="" width="72" height="72">
			</div>
      <div class="form-label-group">
        <input type="password" id="inputPassword1" class="form-control" placeholder="Password" name="new_password1" required>
        <label for="inputPassword1">{% trans "Password" %}</label>
      </div>
      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" name="new_password2" required>
        <label for="inputPassword">{% trans "Confirm Password" %}</label>
      </div>
        
        {% if form.errors %}
          <div class="alert alert-danger" role="alert">
                {% for error in form.new_password2.errors %}
                {{error}}<br>
          </div>
                  {% endfor %}
          {% endif %}
        <button class="btn btn-lg btn-outline-warning btn-block" type="submit" value='{% trans "Change" %}' style="margin-top : 2em ; margin-bottom: 1em; ">{% trans "Change" %}</button>
    </form>

		{%	else	%}
		<div class="text-center mb-4">
			<img class="mb-4" src="{% static 'accounts/Logo_sonelgaz.png' %}" alt="" width="72" height="72">
		</div>
        <div class="alert alert-danger alertMessage" role="alert">
          <h4 class="alert-heading">{% trans "Invalid Link" %}</h4>
      		<p>{% trans "The	password	reset	link	was	invalid,	possibly	because	it	has already	been	used.	Please	request	a	new	password	reset !" %}</p><hr>
      			<a	href="{%	url 'accounts:password_reset'	%}" class="alert-link">{% trans "Reset your password" %}</a>
				</div>
        </div>
    {%	endif	%}

{%	endblock	%}
