{%	extends	"base.html"	%}
{% load static %}
{% load i18n %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/login.css' %}">
{% endblock css %}
{% block title %}
<title>{% trans "Reset	your	password" %}</title>
{% endblock title %}
{%	block	content	%}
<div class="container">
  <div class="text-center mb-4">
    <img class="mb-4" src="{% static 'accounts/Logo_sonelgaz.png' %}" alt="" width="72" height="72">
  </div>
	<div class="alert alert-success alertMessage" role="alert">
	  <h4 class="alert-heading">{% trans "Email sent" %}</h4>
    <p>{% trans " We've	emailed	you	instructions	for	setting	your	password." %}</p>
		<hr>
		<p>{% trans "If	you	don't	receive	an	email,	please	make	sure	you've	entered	the address	you	registered	with." %}</p>
	</div>
</div>


{%	endblock	%}
