{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/login.css' %}">
{% endblock css %}
{% block title %}
<title>{% trans "Password reset" %}</title>{
{% endblock title %}
  {% block content %}

  <form method="POST" class="form-signin">{% csrf_token %}
      <div class="text-center mb-4">
        <img class="mb-4" src="{% static 'accounts/Logo_sonelgaz.png' %}" alt="" width="72" height="72">
      </div>

      <div class="form-label-group">
        <input type="text" id="inputEmail" class="form-control" placeholder="Email Address" name="email" required autofocus>
        <label for="inputEmail">{% trans "Email Address" %}</label>
      </div>
      {% if form.errors and form.email.errors%}
        <div class="alert alert-danger" role="alert">
            {% for error in form.email.errors %}
              {{error}}<br>
            {% endfor %}
        </div>
      {% endif %}
      <button class="btn btn-lg btn-outline-warning btn-block" type="submit" value='{% trans "Send" %}' style="margin-top : 2em ; margin-bottom: 1em; ">{% trans "Send link" %}</button>
      <hr>
      <a href="{% url "accounts:login" %}">{% trans "login" %}</a>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2021-2020</p>
    </form>

{% endblock content %}
