{%	extends	"base.html"	%}
{% load i18n %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/login.css' %}">
{% endblock css %}
{%	block	title	%}
<title>{% trans "Password	reset" %}</title>
{%	endblock	%}
{%	block	content	%}
<div class="container">
  <div class="text-center mb-4">
    <img class="mb-4" src="{% static 'accounts/Logo_sonelgaz.png' %}" alt="" width="72" height="72">
  </div>
<div class="alert alert-success alertMessage" role="alert">
  <h4 class="alert-heading">{% trans "Password	set" %}</h4>
  <p>{% trans "Your	password	has	been	seted successfully." %}</p>
  <hr>
  <a	href="{%	url	"accounts:login"	%}" class="alert-link">{% trans "login" %} </a>
</div>
</div>
{%	endblock	%}
