{%	extends	"base.html"	%}
{% load i18n %}
{% load static %}
{%	block	title	%}<title>
	{% trans "Delete Account" %}
</title>
{%	endblock title	%}
{%	block	content	%}
<div class="container">
	<div class="text-center mb-4">
    <img class="mb-4" src="{% static 'accounts/Logo_sonelgaz.png' %}" alt="" width="72" height="72">
  </div>
	<div class="alert alert-warning alertMessage" role="alert">
	  <h4 class="alert-heading">{% trans "Delete Account" %}</h4>
		<p> {% trans "Confirm deletion by clicking on Confirm ." %}</p><hr>
			<a	href="{%	url 'accounts:delete_account_confirm'	user.username %}" class="alert-link">{% trans "Confirm" %}</a>
</div>
</div>
{%	endblock	%}
